<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Товары</title>
</head>
<body>

<h1>Список</h1>
{% for category,good_info in dict.items() %}
<h2>{{category}}</h2>
{% for name,quantity in good_info.items() %}
<form method="post" id="good_list">
   {{name}}
   <input type="hidden" name="category" value={{category}}>
   <input type="hidden" name="name" value={{name}}>
   <input type="text" name="quantity" value={{quantity}}>
   <input type="submit" name="save" value="Сохранить">
   <input type="submit" name="delete" value="Удалить">
   <br>
</form>
{% endfor %}
{% endfor %}

<br>
<form method="post" id="good_add">
	<h1>Добавить</h1>
	<input type="text" name="category" value="" placeholder="Категория">
	<input type="text" name="name" value="" placeholder="Название">
	<input type="text" name="quantity" value="" placeholder="Количество">
	<input type="submit" name="add" value="Добавить">
</form>